body {
    margin: 0px;
    padding: 0px;
}

/*___________________________________________________TOPHEADER___________________________________________________*/
.topheader {
    background-color:#FF0000;
    width: 100%;     /* Asegura que ocupe todo el ancho */
    height: 100px;   /* Altura del header */
    position: fixed; /* Mantiene el header fijo en la parte superior */
    top: 0; /* Posiciona el header en la parte superior */
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.topheader-container {
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.menu-horizontal {
    list-style: none;
    width: 100%;
    font-size: 18px;
    justify-content: end;
    display: flex;
}

.menu-horizontal li a {
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}

.menu-vertical {
    position: absolute;
    background-color: #cacaca;
    box-shadow: 0 10px 10px #00000080;
    border: none;
    border-radius: 10px;
    padding: 0px;
    margin-top: 0px;
    list-style: none;
    display: none;
}

.menu-horizontal .menu-vertical {
    margin-left: 20px;
}

.menu-horizontal .menu-vertical li a {
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li a:hover {
    background-color: #0033A0;
    color:#ffffff;
}

.Btn-IniciarSesion{
    margin-left: 20px;
    justify-content: end;
}

.Btn-IconoMensaje {
    background-color: #0033A0;
    height: 54px;
    width: 255px;
    border: none;
    border-radius: 75.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.Btn-IconoMensaje span{
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin-right: 20px;
}

.Btn-IconoMensaje i{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 2;
    color: #ffffff;
    color:none;
    font-style: none;
}

.Btn-IniciarSesion  li a {
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #000000;
    padding-right: 95px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.Btn-IniciarSesion:hover .menu-vertical {
    display: block;
}

.topheader-container img {
    cursor: pointer;
}

.buscador {
    padding-left: 60px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.buscador input[type="text"] {
    background-color: #ffffff;
    border: none;
    border-radius: 14px 0px 0px 14px;
    height: 54px;
    width: 200px;
    font-family: sans-serif;
    font-size: 20px;
    color: #8C8C8C;
    padding: 0px 10px;
}

.buscador input::placeholder {
    font-family: sans-serif;
    font-size: 20px;
    color: #8c8c8c;
}

.Ico-lupa {
    background-color: #ffffff;
    border: none;
    border-radius: 0px 14px 14px 0px;
    height: 54px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.Ico-lupa i {
    font-family: "Font Awesome 5 Free";
    font-size: 28px;
    color: #8c8c8c;
}
/*______________________________________________________________GOBIERNOS REGIONALES______________________________________________________________*/
/* Contenido en fila */
.GobiernosRegionales {
    align-items: center;
    padding: 140px 6.5% 80px 6.5%;
}

/* Título */
.text h1 {
    font-family: "Lexend" , sans-serif;
    font-size: 40px;
    color: #000000;
}

/* Párrafo */
.text p {
    font-family: sans-serif;
    text-align: justify;
    line-height: 30px;
    font-size: 22px;
}
/*
*/

.GobReg-container {
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
}


.Opcion-GobReg {
    background-color: #f9f9f9;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 30px 60px;
    margin-bottom: 25px;
    justify-content: space-around;
    align-items: center;
}

.Opcion-GobReg h2 {
    font-family: "Lexend" , sans-serif;
    text-decoration: underline;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0px;
}

.Opcion-GobReg p {
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    margin-right:auto;
    color: #000000;
    padding-bottom: 20px;
    margin: 0px;
}

.Btn-gobierno {
    text-align: end;
}

.Opcion-GobReg button{
    font-family: "Lexend" , sans-serif;
    font-size: 20px;
    background-color: #0033A0;
    color: #FFFFFF;
    border: 4px solid #0033A0;
    padding: 8px 14px;
    border-radius: 10px;
    text-align: end;
    cursor: pointer;
}

.Btn-gobierno button:hover {
    color: #0033A0;
    background-color: #FFFFFF;
    border: 4px solid #0033A0;
}

/*______________________________________________________________PIE DE PAGINA______________________________________________________________*/
.piepagina{
    background: url("../images/Imagen-Fondo.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
}

.Contenedor-piepagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Opciones{
    margin-top: 10px;
    margin-left: 6.5%;
    margin-bottom: 40px;
}

.RedesSociales{
    margin-top: 20px;
    margin-right: 6.5%;
    margin-bottom: 40px;
}

.Opciones a {
    text-decoration: none;
}

.Opciones h1 {
    font-family: "Lexend", sans-serif;
    letter-spacing: -1px;
    font-size: 30px;
    color: #000000;
}

.Opciones p {
    font-family: sans-serif;
    font-size:15px;
    color: #000000;
    margin-bottom: -5px;
    cursor: pointer;
}

.Opciones p:hover{
    text-decoration: underline;
    color:#FF0000;
}

.RedesSociales p{
    font-family: "Lexend", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.Icons-RedesSociales img {
    padding-right: 5px;
}

.IconX {
    margin: 0px -10px 0px -10px;
}

.RedesSociales img:hover{
    cursor: pointer;
}
/*_________________________________________________RESPONSIVE_________________________________________________*/
.open-menu {
    border: none;
    background-color: #FF0000;
    display: none;
    margin-left: 20px;
}

.open-menu i{
    font-family: "Font Awesome 5 Free";
    font-size: 50px;
    color: #ffffff;
}

.close-menu {
    border: none;
    background-color: #cacaca;
    display: none;
    padding: 0%;
    margin: -6px 22px 0px 0px;
}

.close-menu i{
    font-family: "Font Awesome 5 Free";
    font-size: 50px;
    color: #000000;
}

/*_________________________________________________RESPONSIVE_________________________________________________*/
/*CONFIGURACION RESPONSIVE*/
@media (max-width: 768px) {
        /*MENU*/
    .open-menu, .close-menu{
        display: block;
        cursor: pointer;
    }

    .Contenedor-menu-horizontal {
        opacity: 0;
        visibility: hidden;
        width: auto;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #cacaca;
        padding: 2rem 46px 0rem 0rem;
        box-shadow: 0 0 0 100vmax #0000006a;
        transition: all .5s;
        transform: translateX(100%);
    }
    
    .Contenedor-menu-horizontal.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .menu-horizontal{
        display: block;
        flex-direction: column;
        align-items: end;
    }

    .menu-horizontal .menu-vertical{
        display: block;
        flex-direction: column;
        align-items: end;

        position: relative;
        box-shadow: none;
        margin: 0%;
        padding: 0%;

        color: #000000;
        background-color: #8c8c8c;
        border-right: 5px solid transparent;
        border-radius: 0%;
        width: 111.7%;

        overflow: hidden;
        height: 0;
        transition: all .5s;
        transform: translateX(0%);
    }

    .menu-horizontal li a{
        display: block;
        color: #000000;
        border-right: 5px solid transparent;
        border-radius: 0%;
        width: 100%;
    }

    .menu-horizontal.activado .menu-vertical{
        overflow: visible;
        transform: translateX(100%);
        height: auto;
    }

    .buscador{
        display: flex;
        width: 100%;
        justify-content: right;
    }

    .Ico-lupa {
        border-radius: 14px;
        display: flex;
    }

    .buscador input[type=text]{
        display: none;
    }

    .Btn-IconoMensaje {
        width: auto;
        padding: 20px;
        border-radius: 100px;
        margin: 0%;
    }

    .Btn-IniciarSesion {
        padding-left: 0%;
    }

    .Btn-IniciarSesion span {
        display: none;
        padding: 0%;
    }

    .Btn-IniciarSesion .menu-vertical{
        width: 185px;
        margin-left: -120px;
    }

    .Btn-IniciarSesion .menu-vertical li a{
        padding-right: 20px;
        text-align: right;
    }

    .menu-horizontal li :hover {
        border-right: 5px solid #FF0000;
        border-radius: 0%;
        background: #8C8C8C;
        width: 100%;
    }

    .menu-horizontal .menu-vertical li a:hover{
        background-color: #0033A0;
        color: #ffffff;
        width: 100%;
        padding-right: 15px;
    }

    /* Título */
    .GobiernosRegionales h1 {
        font-size: 35px; /*Tamaño normal 40*/
    }

    /* Párrafo */
    .GobiernosRegionales p {
        font-size: 19px; /*Tamaño normal 22*/
        line-height: 24px;
    }

    .GobReg-container h2 {
        font-size: 30px;
    }

    .GobReg-container p {
        font-size: 20px;
    }

    .Opciones {
        width: 45%;
    }

    .RedesSociales {
        width: 35%;
    }
}