body {
    margin: 0px;
    padding: 0px;
}

/*___________________________________________________TOPHEADER___________________________________________________*/
.topheader {
    background-color:#FF0000;
    width: 100%;     /* Asegura que ocupe todo el ancho */
    height: 100px;   /* Altura del header */
    position: fixed; /* Mantiene el header fijo en la parte superior */
    top: 0; /* Posiciona el header en la parte superior */
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.topheader-container {
    margin-left: 6.5%;
    margin-right: 6.5%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.menu-horizontal {
    list-style: none;
    width: 100%;
    font-size: 18px;
    justify-content: end;
    display: flex;
}

.menu-horizontal li a {
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}

.menu-vertical {
    position: absolute;
    background-color: #cacaca;
    box-shadow: 0 10px 10px #00000080;
    border: none;
    border-radius: 10px;
    padding: 0px;
    margin-top: 0px;
    list-style: none;
    display: none;
}

.menu-horizontal .menu-vertical {
    margin-left: 20px;
}

.menu-horizontal .menu-vertical li a {
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li a:hover {
    background-color: #0033A0;
    color:#ffffff;
}

.Btn-IniciarSesion{
    margin-left: 20px;
    justify-content: end;
}

.Btn-IconoMensaje {
    background-color: #0033A0;
    height: 54px;
    width: 255px;
    border: none;
    border-radius: 75.5px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.Btn-IconoMensaje span{
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin-right: 20px;
}

.Btn-IconoMensaje i{
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    font-weight: 2;
    color: #ffffff;
    font-style: none;
}

.Btn-IniciarSesion  li a {
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Lexend", sans-serif;
    font-size: 22px;
    color: #000000;
    padding-right: 95px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.Btn-IniciarSesion:hover .menu-vertical {
    display: block;
}

.topheader-container img {
    cursor: pointer;
}

.buscador {
    padding-left: 60px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.buscador input[type="text"] {
    background-color: #ffffff;
    border: none;
    border-radius: 14px 0px 0px 14px;
    height: 54px;
    width: 200px;
    font-family: sans-serif;
    font-size: 20px;
    color: #8C8C8C;
    padding: 0px 10px;
}

.buscador input::placeholder {
    font-family: sans-serif;
    font-size: 20px;
    color: #8c8c8c;
}

.Ico-lupa {
    background-color: #ffffff;
    border: none;
    border-radius: 0px 14px 14px 0px;
    height: 54px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.Ico-lupa i {
    font-family: "Font Awesome 5 Free";
    font-size: 28px;
    color: #8c8c8c;
}

/*______________________________________________________________GOBIERNOS REGIONALES______________________________________________________________*/
/* Contenido en fila */
.GobiernosRegionales {
    align-items: center;
    padding: 140px 6.5% 80px 6.5%;
}

/* Título */
.text h1 {
    font-family: "Lexend" , sans-serif;
    font-size: 40px;
    color: #000000;
}

/* Párrafo */
.text p {
    font-family: sans-serif;
    text-align: justify;
    line-height: 30px;
    font-size: 22px;
}
/*
*/

.GobReg-container {
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
}


.Opcion-GobReg {
    background-color: #f9f9f9;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 30px 60px;
    margin-bottom: 25px;
    justify-content: space-around;
    align-items: center;
}

.Opcion-GobReg h2 {
    font-family: "Lexend" , sans-serif;
    text-decoration: underline;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0px;
}

.Opcion-GobReg p {
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    margin-right:auto;
    color: #000000;
    padding-bottom: 20px;
    margin: 0px;
}

.Btn-gobierno {
    text-align: end;
}

.Opcion-GobReg button{
    font-family: "Lexend" , sans-serif;
    font-size: 20px;
    background-color: #0033A0;
    color: #FFFFFF;
    border: 4px solid #0033A0;
    padding: 8px 14px;
    border-radius: 10px;
    text-align: end;
    cursor: pointer;
}

.Btn-gobierno button:hover {
    color: #0033A0;
    background-color: #FFFFFF;
    border: 4px solid #0033A0;
}

/*______________________________________________________________PIE DE PAGINA______________________________________________________________*/
.piepagina{
    background: url("../images/Imagen-Fondo.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
}

.Contenedor-piepagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Opciones{
    margin-top: 10px;
    margin-left: 6.5%;
    margin-bottom: 40px;
}

.RedesSociales{
    margin-top: 20px;
    margin-right: 6.5%;
    margin-bottom: 40px;
}

.Opciones a {
    text-decoration: none;
}

.Opciones h1 {
    font-family: "Lexend", sans-serif;
    letter-spacing: -1px;
    font-size: 30px;
    color: #000000;
}

.Opciones p {
    font-family: sans-serif;
    font-size:15px;
    color: #000000;
    margin-bottom: -5px;
    cursor: pointer;
}

.Opciones p:hover{
    text-decoration: underline;
    color:#FF0000;
}

.RedesSociales p{
    font-family: "Lexend", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.Icons-RedesSociales img {
    padding-right: 5px;
}

.IconX {
    margin: 0px -10px 0px -10px;
}

.RedesSociales img:hover{
    cursor: pointer;
}